@model OrdersViewModel

<div id="all">
    <div id="content">
        <div class="container mt-3">
            <div class="row">
                <div id="checkout" class="col-lg-9">
                    <div class="box">
                        <form asp-controller="Orders" asp-action="OrderReview" method="post">
                            <h1>Адрес за доставка</h1>
                            <p class="text-muted">
                                Можете да коригирате адреса за доставка от <a asp-controller="Users" asp-action="MyPersonalData">тук</a>.
                            </p>
                            <div class="nav flex-column flex-md-row nav-pills text-center">
                                <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-map-marker"> </i>Адрес</a>
                                <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye"> </i>Преглед на поръчката</a>
                            </div>
                            <div class="content py-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FirstName">Име</label>
                                            <input asp-for="FirstName" value="@Model.FirstName" class="form-control" readonly>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="LastName">Фамилия</label>
                                            <input asp-for="LastName" value="@Model.LastName" class="form-control" readonly>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AddressCountry">Държава</label>
                                            <input asp-for="AddressCountry" value="@Model.AddressCountry" class="form-control" readonly>
                                            <span asp-validation-for="AddressCountry" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AddressCity">Град</label>
                                            <input asp-for="AddressCity" value="@Model.AddressCity" class="form-control" readonly>
                                            <span asp-validation-for="AddressCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AddressZipCode">Пощенски код</label>
                                            <input asp-for="AddressZipCode" type="number" value="@Model.AddressZipCode" class="form-control" readonly>
                                            <span asp-validation-for="AddressZipCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber">Телефонен номер</label>
                                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" readonly>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AddressStreet">Улица</label>
                                            <input asp-for="AddressStreet" value="@Model.AddressStreet" class="form-control" readonly>
                                            <span asp-validation-for="AddressStreet" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Email">E-mail Адрес</label>
                                            <input asp-for="Email" value="@Model.Email" class="form-control" readonly>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                            </div>
                            <!-- /.content-->
                            <div class="box-footer d-flex justify-content-between">
                                <a asp-controller="Cart" asp-action="Index" class="btn btn-outline-secondary">
                                    <i class="fa fa-chevron-left"></i>Количка
                                </a>
                                <button type="submit" class="btn btn-primary">Напред<i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-->
                </div>
                <!-- /.col-lg-9-->
                <div class="col-lg-3">
                    <div id="order-summary" class="card">
                        <div class="card-header">
                            <h3 class="mt-4 mb-4">Order summary</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>$446.00</th>
                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$456.00</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>