@model IEnumerable<ShoppingCartViewModel>

<div id="all">
    <div id="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-3">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <partial name="~/Areas/Administration/Views/Shared/_AdminMenuPartial.cshtml" />
                    }
                    else
                    {
                        <partial name="_CustomerMenuPartial" />
                    }
                    <vc:Order-Summary></vc:Order-Summary>
                </div>
                <div id="basket" class="col-lg-9">
                    <div class="box">
                        <h1>Количка</h1>
                        <p class="text-muted">Имате @Model.Count() продукт(а) в количката.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2">Продукт</th>
                                    <th>Количество</th>
                                    <th>Размер</th>
                                    <th>Единична цена</th>
                                    <th colspan="2">Общо</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id"><img src="@item.ImageUrl" alt="White Blouse Armani"></a>
                                        </td>
                                        <td>
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                        </td>
                                        <td>
                                            <input type="number" value="@item.Quantity" class="form-control">
                                        </td>
                                        <td>@item.Size</td>
                                        <td>@item.Price лв.</td>
                                        <td>@item.Total</td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" id="Remove"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="5">Общо</th>
                                    <th colspan="2">@this.ViewData["TotalPrice"] лв.</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.table-responsive-->
                        <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                            <div class="left">
                                <a href='javascript:history.go(-2)' class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Продължете да пазарувате</a>
                            </div>
                            @if (Model.Any())
                            {
                                <div class="right">
                                    <a asp-controller="Orders" asp-action="CheckoutAddress" class="btn btn-primary">
                                        Поръчай <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#Remove').onclick(
                function () {
                    var productId = $('#Remove').val();

                    $.ajax({
                        type: 'GET',
                        url: '/Cart/Remove',
                        contentType: 'application/json; charset=utf-8',
                        data: { id: productId },
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            $('#ShoppingCartViewModel').replaceWith(JSON.parse()(data));
                        },
                        error: function() {
                            alert('there is some error');
                        }
                    });
                });
        });
    </script>
}