@model IEnumerable<SideMenuViewModel>

<div class="card sidebar-menu mb-4">
    <div class="card-header">
        <h3 class="h4 card-title">Категории</h3>
    </div>
    @foreach (var category in Model)
    {
        <div class="card-body">
            <ul class="nav nav-pills flex-column category-menu">
                <li>
                    <a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="@category.Id" class="nav-link">@category.Name <span class="badge badge-secondary">@category.SubCategories.Sum(c => c.ProductsCount)</span></a>

                    <ul class="list-unstyled">

                        @foreach (var subCategory in category.SubCategories.Where(x => x.ProductsCount > 0))
                        {
                            <li><a asp-controller="Products" asp-action="ProductsByCategory" asp-route-categoryId="@category.Id" asp-route-subCategoryId="@subCategory.Id" class="nav-link">@subCategory.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    }
</div>