@model DetailsViewModel

<div id="all">
    <div id="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-3">

                    <vc:Side-Menu></vc:Side-Menu>

                </div>
                <div class="col-lg-9">
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <div id="productMain" class="row">
                            <div class="col-md-6">
                                <div class="item">
                                    <input asp-for="@Model.Id" type="hidden" />

                                    <img src="@Model.ImageUrl" alt="" class="img-thumbnail" style="width: 400px; height: 386px;">
                                    <input asp-for="@Model.ImageUrl" , type="hidden" />
                                </div>
                               @if (this.User.IsInRole("Admin"))
                               {
                                   <div class="box d-flex justify-content-between">
                                       <a asp-area="Administration" asp-controller="AdminProducts" asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-primary">
                                           <i class="far fa-edit"></i> Редактирай
                                       </a>
                                       <a asp-area="Administration" asp-controller="AdminProducts" asp-action="DeleteProduct" asp-route-id="@Model.Id" class="btn btn-primary">
                                           <i class="fas fa-trash-alt"></i> Изтрий
                                       </a>
                                   </div>
                               }
                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    <h1 class="text-center">@Model.Name</h1>
                                    <input asp-for="@Model.Name" , type="hidden" />

                                    <h1 class="text-center">@Model.Brand</h1>
                                    <input asp-for="@Model.Brand" , type="hidden" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Размер:</h4>

                                            @foreach (var size in Model.Sizes)
                                            {
                                                <div class="form-check">
                                                    <input asp-for="@Model.Sizes" class="form-check-input" type="radio" value="@size">
                                                    <label asp-for="@Model.Sizes" class="form-check-label">
                                                        @size
                                                    </label>
                                                </div>
                                            }

                                        </div>
                                        <div class="col-md-6">
                                            <h4>Количество</h4>
                                            <input asp-for="@Model.Quantity" type="number" class="form-control" placeholder="Количество"><br>
                                        </div>
                                    </div>
                                    <label asp-for="@Model.Price" class="price text-center">@Model.Price лв.</label>
                                    <input asp-for="@Model.Price" type="hidden" />
                                    <p class="text-center buttons">
                                        <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Добави в количката </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="details" class="box">
                            <p></p>
                            <h4>Детайли</h4>
                            <p>@Model.Description</p>

                            <h4>Състав на материята</h4>
                            <ul>
                                <li>@Model.Material</li>
                            </ul>
                            <h4>Цвят</h4>
                            <ul>
                                <li>Моделът се предлага в @Model.Color цвят</li>
                            </ul>
                            <hr>
                        </div>
                    </form>
                    <div class="row same-height-row">
                        @foreach (var rndProduct in Model.RandomProducts)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="product same-height">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front"><a asp-controller="Products" asp-action="Details" asp-route-id="@rndProduct.Id"><img src="@rndProduct.ImageUrl" alt="" class="img-fluid"></a></div>
                                            <div class="back"><a asp-controller="Products" asp-action="Details" asp-route-id="@rndProduct.Id"><img src="@rndProduct.ImageUrl" alt="" class="img-fluid"></a></div>
                                        </div>
                                    </div>
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@rndProduct.Id" class="invisible"><img src="@rndProduct.ImageUrl" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <h3>@rndProduct.Name</h3>
                                        <p class="price">@rndProduct.Price лв.</p>
                                    </div>
                                </div>
                                <!-- /.product-->
                            </div>
                        }
                    </div>
                </div>
                <!-- /.col-md-9-->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}