@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

@model AllProductsViewModel
@{
    var categoryName = this.ViewData["CategoryName"];
}
<div id="all">
    <div id="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="col-lg-3">

                    <vc:Side-Menu></vc:Side-Menu>

                    <div class="banner"><a href="#"><img src="/img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
                </div>
                <div class="col-lg-9">
                    <div class="box">
                        <h1>@categoryName</h1>
                    </div>
                    <div class="row products">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ImageUrl" alt="" class="img-fluid"></a></div>
                                            <div class="back"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ImageUrl" alt="" class="img-fluid"></a></div>
                                        </div>
                                    </div><a href="detail.html" class="invisible"><img src="@product.ImageUrl" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <h3><a href="detail.html">@product.Name</a></h3>
                                        <p class="price">
                                            @product.Price лв.
                                        </p>
                                        <p class="buttons">
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-outline-secondary">Детайли</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            @Html.PagedListPager((IPagedList)Model.Products,
                                page => Url.Action("ProductsByCategory",
                                    new { Model.CategoryId, page, Model.SubCategoryId }),
                                    new PagedListRenderOptions()
                                    {
                                        UlElementClasses = new List<string> { "pagination"},
                                        LiElementClasses = new List<string> { "page-item", "page-link"}
                                    })
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>